:host {
  display: flex;
  justify-content: center;
  width: 100%;
}

.forgot-password {
  &__main-card {
    width: 60%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__email-form {
    width: 100%;
  }

  &__email-card {
    margin: 20px;
    padding: 20px;
  }

  &__button {
    margin: 8px 0;
  }
}
