<mat-card class="forgot-password__main-card">
  <mat-card-content class="forgot-password__content">
    @if (!showSuccessMessage()) {
      <mat-card-header><h2>Reset Password</h2></mat-card-header>
      <div>Please enter the email address that is associated with your account.</div>
      <div>You will be emailed a temporary link to reset your password within 5-10 minutes</div>
      <form
        class="forgot-password__email-form"
        [formGroup]="forgotPasswordForm"
        (ngSubmit)="submit()"
      >
        <mat-card class="forgot-password__email-card">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="text" autocomplete formControlName="email" />
            @if (errorEmailMessage) {
              <mat-error>{{ errorEmailMessage }}</mat-error>
            }
          </mat-form-field>

          <button class="forgot-password__button" mat-flat-button color="primary" type="submit">
            Reset Password
          </button>
        </mat-card>
      </form>
      <div>
        Stuck? Call 844-468-7865 or email support&#64;trunking.io for additional assistance.
      </div>
      <div>
        Please check your email's spam folder for the Forgot Password link before contacting
        support.
      </div>
    } @else {
      <h2>Your Forgot Password Request has been received.</h2>
      <h4>
        If the email address you entered is associated with an active Trunking.io login, you will
        receive a temporary link to reset your password within 5-10 minutes.
      </h4>
      <button
        class="forgot-password__button"
        mat-flat-button
        color="primary"
        [routerLink]="views.LOGIN"
      >
        Return To Login
      </button>
    }
  </mat-card-content>
</mat-card>
