:host {
  display: block;
  height: 100%;
  width: 100%;
  &::ng-deep {
    mat-sidenav-container {
      height: 100%;
    }

    .sidenav {
      &__logo {
        padding: 1rem;
        background: #133841;
        font-size: 1.175rem;
        font-weight: 500;
        color: #fff;
        width: 100%;
        display: flex;
        text-decoration: none;
        box-sizing: border-box;
        img {
          width: 70%;
        }
      }

      &__list-wrap {
        mat-nav-list mat-expansion-panel {
          box-shadow: none;
        }

        .mdc-list-item__content {
          .mat-icon {
            vertical-align: bottom;
          }
        }

        .mat-expansion-panel-header {
          padding-left: 0;
          mat-list-item:hover {
            &::before {
              background-color: transparent;
            }
          }
        }
      }
    }
    mat-sidenav {
      max-width: 250px;
      min-width: 250px;
    }
  }

  .content {
    padding: 3rem 0.5rem 0 0.5rem;
    @media (min-width: 992px) {
      padding: 3rem 1.5rem 0 1.5rem;
    }
  }

  .content-wrap {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      width: 100%;
      height: 200px;
      background-color: rgb(75, 133, 148);
      z-index: -1;
    }
  }
}
