$trunking-primary-palette: (
  50: #ddf3fc,
  100: #bfdde4,
  200: #a0c4ce,
  300: #7fabb7,
  400: #6597a5,
  500: #4b8594,
  600: #3f7583,
  700: #31616d,
  800: #244d58,
  900: #133841,
  contrast: (
    50: #000,
    100: #000,
    200: #000,
    300: #000,
    400: #000,
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff
  )
);

$trunking-accent-palette: (
  50: #e4f9f3,
  100: #bcefe0,
  200: #8fe4cb,
  300: #62d9b6,
  400: #40d1a7,
  500: #1ec997,
  600: #1ac38f,
  700: #16bc84,
  800: #12b57a,
  900: #0aa969,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff
  )
);
