@use "@angular/material" as mat;
@use "sass:map";
@import "../../../scss/app-theme-variables.scss";

.trunk-login {
  display: flex;
  justify-content: space-between;

  &__img-wrap {
    display: inline-grid;
    align-items: center;
    justify-content: center;

    img {
      width: 400px;
      max-width: 100%;
      height: auto;
    }
  }

  &__item {
    width: 50%;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__btn {
    width: 67px;
    font-size: 0.9375rem;
    white-space: nowrap;
    margin: 1rem auto 0;
  }

  &__hint {
    cursor: pointer;
    color: map.get($trunking-primary-palette, 500);

    &:hover {
      color: map.get($trunking-primary-palette, 700);
    }
  }

  .mat-mdc-form-field {
    margin-bottom: 1rem;
  }
}
